@{
    Layout = string.Empty;
}
<!DOCTYPE html>
<html lang="pt">

    <head>
        <meta charset="utf-8" />
        <title>PCM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="PCM" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="~/images/favicon.png">

        <!-- App css -->
        <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="~/css/app.min.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body class="account-body accountbg">

        <!-- Log In page -->
        <div class="container">
            <div class="row vh-100 d-flex justify-content-center">
                <div class="col-12 align-self-center">
                    <div class="row">
                        <div class="col-lg-5 mx-auto">
                            <div class="card">
                                <div class="card-header p-0 ">
                                    <div class="text-center p-3">
                                        <a href="index.html" class="logo logo-admin">
                                            <img src="~/images/logo-jnj.png" height="50" alt="logo">
                                        </a>
                                        <h2 class="mt-1 mb-1 fw-semibold font-18 text-black">VISION CARE</h2>   
                                        <p class="text-muted  mb-0">Sign in to continue</p>  
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                     <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active p-3" id="LogIn_Tab" role="tabpanel">
                                        <form autocomplete="off" class="form-horizontal auth-form form-parsley" action="Login" method="post">
                
                                                <div class="form-group mb-2">
                                                    <label class="form-label" for="username">Username</label>
                                                    <input type="text" class="form-control" required name="username" id="username" placeholder="Enter username">
                                                </div><!--end form-group--> 
                    
                                                <div class="form-group mb-4">
                                                    <label class="form-label" for="userpassword">Password</label>                                            
                                                    <input type="password" class="form-control" required name="password" id="userpassword" placeholder="Enter password">
                                                </div><!--end form-group--> 
                    
                                                <div class="form-group mb-2 row">
                                                    <div class="col-12">
                                                    <button class="btn btn-secondary w-100 waves-effect waves-light" type="submit">Log In <i class="fas fa-sign-in-alt ms-1"></i></button>
                                                    </div><!--end col--> 
                                                </div> <!--end form-group-->                           
                                            </form><!--end form-->
                                        </div>
                                    </div>
                                </div><!--end card-body-->
                                <div class="card-body bg-light-alt text-center">
                                    <span class="text-muted d-none d-sm-inline-block">JnJ Medtech © <script>
                                        document.write(new Date().getFullYear())
                                    </script></span>                                            
                                </div>
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
        <!-- End Log In page -->

        


        <!-- jQuery  -->
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/waves.js"></script>
        <script src="~/js/feather.min.js"></script>
        <script src="~/js/simplebar.min.js"></script>
        <script src="~/lib/parsleyjs/parsley.min.js"></script>
        <script>

        $(document).ready(function () {
            $('.form-parsley').parsley();
        });
        </script>
    </body>
</html>
